*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

img{
	max-width:100%;
}
/*header section start*/
.navbar{
	background:#2C3E50 !important;
	padding:20px 0;
}

.nav-link{
	color:white;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}

.header h3{
	color:white;
	text-transform: uppercase;
}

/*header section end*/



/*banner content start*/
.banner-section{
	background:#1ABC9C;
	text-align:center;
}
.banner-content{
    padding: 60px 0;
}
.banner-content h1{
	color:white;
	font-size:70px;
	text-transform: uppercase;
}
.banner-content span {
	display: block;
	height:3px;
	background: white;
	width:300px;
	margin: 40px auto;
}

.banner-content p{
	color:white;
	font-size: 24px;
}

/*banner content end*/




/*portfolio section start*/

.portfolio{
	padding:20px 0;
}
.portfolio h3{
	color:#2C3E50;
	font-size:50px;
	text-transform: uppercase;
	text-align:center;
	font-weight: 700;
}
.portfolio span{
	display: block;
	height:5px;
	background: #2C3E50;
	width:200px;
	margin:20px auto;
}

/*portfolio section end*/






